asgiref==3.3.1
dj-database-url==0.5.0
Django==3.1.5
gunicorn==20.0.4
joblib==1.0.0
numpy==1.19.5
opencv-python==4.5.1.48
psycopg2==2.8.6
pytz==2020.5
scikit-learn==0.24.0
scipy==1.6.0
sqlparse==0.4.1
threadpoolctl==2.1.0
whitenoise==5.2.0
